Repository LTXland/LTX, changes with the owners that CODEOWNERS names for each.
All owners: @jordanreger, @LTXland/wiki, @LTXland/core

[core] update readme
  README.md
Owners: @jordanreger

Update Raptor.md
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Update raptor.md
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Testing Caption
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Fixed Caption
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Fixed Caption Again
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Captions, maybe?
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Captions, for real
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

[core/wiki] update formatting and add contributing.md
  main.ts
  src/contributing.md
  src/wiki.md
  wiki/electron.md
  wiki/mars.md
  wiki/raptor.md
  wiki/starship.md
  wiki/test.md
Owners: @jordanreger, @LTXland/core, @LTXland/wiki

[core/wiki] minor bug fixes
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Smaller Captions for images
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Testing Curved Image Edges
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Testing Again.
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

[core/wiki] remove styling from pages
  wiki/raptor.md
Owners: @LTXland/core, @LTXland/wiki

Added Rounded Edges to all images
  src/markdown.ts
Owners: @LTXland/core

Bunch of changes to the wiki
  wiki/electron.md
  wiki/raptor.md
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

Fixing Tables
  wiki/electron.md
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

Electron Launch Site Update
  wiki/electron.md
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

Fixed Formatting Errors
  wiki/electron.md
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

Fixed all Bugs
  wiki/electron.md
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

Center Table
  wiki/electron.md
Owners: @LTXland/core, @LTXland/wiki

Edit Electron Table
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

fix styling
  src/markdown.ts
Owners: @LTXland/core

Fixed All table issues
  wiki/electron.md
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

wiki searchbar input type #1 fixed
  src/components/searchbar.mjs
Owners: @LTXland/core

[core] major improvements
  README.md
  main.ts
  src/404.md
  src/about.md
  src/components/menu.mjs
  src/contributing.md
  src/markdown.ts
  src/streams.html
  src/wiki.html
  wiki/template.md
  wiki/test.md
Owners: @jordanreger, @LTXland/core, @LTXland/wiki

feat(wiki): add ltx git format to contributing.md
  src/contributing.md
Owners: @LTXland/core

chore: update readme
  README.md
Owners: @jordanreger

fix(wiki): add min-width to resolve mobile table width is broken #13
  src/markdown.ts
Owners: @LTXland/core

fix(wiki): box-sizing to fix #13
  src/markdown.ts
Owners: @LTXland/core

fix(wiki): #13
  src/markdown.ts
Owners: @LTXland/core

fix(wiki): remove height, close #13
  src/markdown.ts
Owners: @LTXland/core

Create lighthouse.yml
  .github/workflows/lighthouse.yml
Owners: @jordanreger

Update lighthouse.yml
  .github/workflows/lighthouse.yml
Owners: @jordanreger

fix: update lighthouse.yml
  .github/workflows/lighthouse.yml
Owners: @jordanreger

fix: deno test and lighthouse
  .github/workflows/lighthouse.yml
  test.ts
Owners: @jordanreger

fix: remove lighthouse ci
  .github/workflows/lighthouse.yml
Owners: @jordanreger

Conform to Lighthouse Test #16
  main.ts
  src/components/menu.mjs
  src/index.html
  src/markdown.ts
  src/streams.html
  src/wiki.html
  wiki/template.md
Owners: @jordanreger, @LTXland/core, @LTXland/wiki

close translate all wiki articles to pure markdown #9
  wiki/electron.md
  wiki/mars.md
  wiki/raptor.md
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

close #9
  wiki/electron.md
  wiki/mars.md
  wiki/raptor.md
  wiki/starship.md
Owners: @LTXland/core, @LTXland/wiki

CODEOWNERS:

/*       @jordanreger

.github  @jordanreger

bin/     @LTXland/wiki
src/     @LTXland/core
wiki/    @LTXland/core @LTXland/wiki
