Repository LTXland/LTX, changes with the owners that CODEOWNERS names for each.
All owners: @jordanreger, @LTXland/wiki, @LTXland/core

CODEOWNERS:

/*       @jordanreger

.github  @jordanreger

bin/     @LTXland/wiki
src/     @LTXland/core
wiki/    @LTXland/core @LTXland/wiki

fix(performance): add as="script"
  src/index.html
  src/markdown.ts
  src/streams.html
  src/wiki.html
Owners: @LTXland/core

fix: return user-scalable back to "no"
  src/index.html
  src/markdown.ts
  src/streams.html
  src/wiki.html
Owners: @LTXland/core

close #17
  src/components/searchbar.mjs
Owners: @LTXland/core

feat(launches): init - toml, date sorter
  launches/starlink-69.toml
  launches/starlink-70.toml
  launches/starship-20.toml
  main.ts
  src/launches.html
  src/launches.md
  src/toml.ts
Owners: @jordanreger, @LTXland/core

fix(launches): add elements
  README.md
  launches/starlink-69.toml
  launches/starlink-70.toml
  launches/starship-20.toml
  main.ts
  src/toml.ts
Owners: @jordanreger, @LTXland/core

fix(launches): update toml.ts
  src/launches.html
  src/toml.ts
Owners: @LTXland/core

chore: move wiki and launches out
  launches/starlink-69.toml
  launches/starlink-70.toml
  launches/starship-20.toml
  main.ts
  src/components/latest-launch-card.mjs
  src/launches.html
  wiki/electron.md
  wiki/mars.md
  wiki/raptor.md
  wiki/starship.md
  wiki/template.md
Owners: @jordanreger, @LTXland/core, @LTXland/wiki

fix: testing new md fetch
  main.ts
  src/markdown.ts
Owners: @jordanreger, @LTXland/core

feat: move wiki to api
  src/markdown.ts
Owners: @LTXland/core

chore: remove 404
  src/404.md
Owners: @LTXland/core
